.container {
  height: 100vh;
}
.row {
  justify-content: space-around;
  align-items: center;
}
.panel {
  height: 20%;
  background-color: red;
}
.controls {
  background-color: yellow;
}
.indicators {
  font-size: 2rem;
}
.time:before {
  content: 'Время: ';
}
.current-score:before {
  content: 'Счёт: ';
}

.main-screen {
  background-color: blue;
  margin-top: 20px;
  height: 75%;
}
.game-field {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: pointer;
}
.cell {
  border: 1px solid black;
  font-size: 0.5rem;
  align-items: center;
  text-align: center;
}
