nav.navbar.navbar-expand-lg.navbar-light.bg-light
	.container-fluid
		a.navbar-brand(href="/") Hit Cubes
		div.collapse.navbar-collapse
			ul.navbar-nav.mt-0
				if auth.isAuth
					li.nav-item
						a.nav-link(aria-current="page" href="/game") Game
					li.nav-item
						a.nav-link(aria-current="page" href="/user") User Page
					if auth.isAdmin
						li.nav-item
							a.nav-link(aria-current="page" href="/admin") Admin Page
					if name
						li.user-name #{name}
						li.top-score
							span Лучший результат:&nbsp;
							span.user-top-score
					li.nav-item.logout
						a.btn.btn-outline-info(aria-current="page") Logout
				else
					li.nav-item
						a.nav-link(aria-current="page" href="/") Log In
					li.nav-item
						a.nav-link(aria-current="page" href="/register") Register
