.navbar {
  margin-left: -15px;
  margin-right: 15px;
}
.navbar-nav {
  width: 100%;
  position: relative;
}
.navbar .user-name,
.navbar .top-score {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.4rem;
  color: #1771f1;
}
.logout {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/*Loader*/

.lds-ripple {
  margin-top: 15px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #1771f1;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
